{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Libros disponibles - Biblioteca</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'mycss/Sub1.css' %}">
  	<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
  </head>
  <body>
    <div  class="cover-container">
      <div class="masthead clearfix">
        <div class="inner" style="background-color: #333;">
          <h3 class="masthead-brand">Biblioteca</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="/home/">Pagina Principal</a>
            <a class="nav-link" href="#">Lista de Libros</a>
          </nav>
        </div>
      </div>
    </div>
    <section class="jumbotron text-center" style="background-color: #333">
      <div class="container">
        <h1 class="jumbotron-heading">Libro</h1>
        <p class="lead text-muted">{{result.Nombre}}
        </p>
        <p class="lead text-muted"><a href="/libros/lista" class="btn btn-secondary">Regresar</a></p>
      </div>
    </section>

    <div class="album text-muted">
    <div class="container">
    <div class="row">
    <div class="card" style="width: 20rem;">
      <img data-src="#" alt="{{result.Nombre}}">
    <div class="card-body">
    <h4 class="card-title">Autor: {{result.Autor}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Editorial: {{result.Editorial}}</h6>
    <p class="card-text">Precio: ${{result.Precio}} MXN, ISBN: {{result.ISBN}}</p>
    </div>
    </div>
    </div>
    </div>
    </div>

    <footer class = "text-muted">
     <div class="container">
      <p>Ejemplo de album personalizado</p>
     </div>
    </footer>
  </body>
</html>
