{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Inicio - Biblioteca</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'mycss/Cover.css' %}">
	<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
</head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div  class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">Biblioteca</h3>
						<nav class="nav nav-masthead">
							<a class="nav-link active" href="">Pagina Principal</a>
							<a class="nav-link" href="/libros/lista">Lista de Libros</a>
						</nav>
					</div>
				</div>
			</div>
			<div class="inner cover">
				<h1 class="cover-heading">Biblioteca</h1>
				<p class="lead" style="color: #fff; font-style: bold;">Biblioteca compacta, solo disponemos de 10 :D!</p>
				<p class="lead">
					<a href="/libros/lista" class="btn btn-lg btn-secondary">Lista de libros disponibles!</a>
				</p>
			</div>
			<div class="mastfoot">
				<div class="inner">
					<p style="color: white; font-style: bold;">Template para <a href="https://getbootstrap.com">Bootstrap</a>, creada por </a href="https://twitter.com/mdo">@mdo</a>.</p>
			</div\>
		</div>
	</div>
</body>
</html>
