{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Libros disponibles - Biblioteca</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link type="text/css" rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'mycss/Sub1.css' %}">
  	<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
  </head>
  <body>
    <div  class="cover-container">
      <div class="masthead clearfix">
        <div class="inner" style="background-color: #333;">
          <h3 class="masthead-brand">Biblioteca</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="/home/">Pagina Principal</a>
            <a class="nav-link active" href="#">Lista de Libros</a>
          </nav>
        </div>
      </div>
    </div>
    <section class="jumbotron text-center" style="background-color: #333">
      <div class="container">
        <h1 class="jumbotron-heading">Libros</h1>
        <p class="lead text-muted">Lista de Libros disponibles en la base de datos</p>
      </div>
    </section>

    <div class="album text-muted">
    <div class="container">
    {% for i in result%}
    <div class="row">
    <span class="card" style="width: 20rem;">
    <img data-src="#" alt="{{i.Nombre}}">
    <div class="card-body">
    <h4 class="card-title">Autor: {{i.Autor}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Editorial: {{i.Editorial}}</h6>
    <p class="card-text">Precio: ${{i.Precio}} MXN</p>
    <a class="nav-link1" href="/libros/detalle/{{i.id}}" style="color: black">Detalles del libro</a>
    </div>
    </span>
    </div>
    {% endfor %}
    </div>
    </div>

    <footer class = "text-muted">
     <div class="container">
      <p>Ejemplo de album personalizado</p>
     </div>
    </footer>
  </body>
</html>
